@using MachineTestExam.Models
@model Registration

@{
    ViewData["Title"] = "PhotoUpload";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>REGISTER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>



</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="signup-form mt-5 border p-4 bg-light shadow">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <h4 class="mb-5 text-secondary">Create Your Account</h4>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label>UserName<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder="Enter UserName " })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3 col-md-6">
                                <label> EmailId<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", placeholder="Enter EmailId" })
                                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                            </div>
                           
                            <div class="mb-3 col-md-6">
                                <label>Password<span class="text-danger">*</span></label>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder="Enter Password" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Branch<span class="text-danger">*</span></label>
                                @Html.DropDownListFor(model => model.Branch, new List<SelectListItem> {
                            new SelectListItem { Text="--Select--",Value="0"},
                            new SelectListItem { Text="Hyderabad",Value="Hyderabad"},
                            new SelectListItem { Text="kolkata ",Value="kolkata "},
                            new SelectListItem { Text="Bangalore",Value="Bangalore"},
                            new SelectListItem { Text="Delhi ",Value="Delhi "},

                            }, new { @class = "form-control" })
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>PhoneNo<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control", placeholder="Enter PhoneNo" })
                                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>IDProof<span class="text-danger">*</span></label>
                                @Html.DropDownListFor(model => model.IDProof, new List<SelectListItem> {
                            new SelectListItem { Text="--Select--",Value="0"},
                            new SelectListItem { Text="Adhar",Value="Adhar"},
                            new SelectListItem { Text="PAN ",Value="PAN "},


                            }, new { @class = "form-control" })
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>IDNO<span class="text-danger">*</span></label>
                                @Html.PasswordFor(model => model.IDno, new { @class = "form-control", placeholder="Enter IDno" })
                                @Html.ValidationMessageFor(model => model.IDno, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3 col-md-6">
                                <label> MemberID<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.NoID, new { @class = "form-control", placeholder="Enter NumberID" })
                                @Html.ValidationMessageFor(model => model.NoID, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>JoiningDate<span class="text-danger">*</span></label>
                                @Html.EditorFor(model => model.JoiningDate, new { htmlAttributes = new { @class = "form-control input-md", @placeholder = "Name"} })
                                @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>DoB<span class="text-danger">*</span></label>
                                @Html.EditorFor(model => model.CalculateDate, new { htmlAttributes = new { @class = "form-control input-md", @placeholder = "Name"} })
                                @Html.ValidationMessageFor(model => model.CalculateDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-7">
                                <p class="text-center mt-3 text-secondary">If you have account,  @Html.ActionLink("login","LoginPage","MachineProject")</p>
                            </div>
                            @Html.ActionLink("Display","DiaplayData","MachineProject")
                            <div class="col-md-5">
                                <input type="submit" class="btn btn-primary float-end" value="Submit">

                            </div>
                        </div>

                    }
                </div>
            </div>
            </div>
    </div>
</body>
</html>